root = true

[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
[*.{cpp,h,py,txt,sjson,cmake,java}]
charset = utf-8
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{gradle,gradle.in}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
