# Temporary data rules
build/
*.suo
**/__pycache__/
.vscode/

# Test data rules
test_data/*.zip
test_data/regression_test_data
test_data/decomp_data*

# Deprecated rules, remove for ACL 2.2 or later
test_data/test_data*
