version: 2.0.4.{build}

environment:
  PYTHON: "C:\\Python36-x64\\python.exe"
  matrix:
    - toolchain: msvc
    - toolchain: clang

image:
  - Visual Studio 2015
  - Visual Studio 2017
  - Visual Studio 2019

configuration:
  - Debug
  - Release

platform:
  - x86
  - x64
  - arm64

matrix:
  exclude:
    - image: Visual Studio 2015
      platform: arm64
    - image: Visual Studio 2015
      toolchain: clang
    - image: Visual Studio 2017
      toolchain: clang
    - image: Visual Studio 2019
      platform: arm64
      toolchain: clang
    - image: Previous Visual Studio 2019
      platform: arm64
      toolchain: clang

init:
# Only run latest compiler on push, run everything on pull request
- ps: if ($env:APPVEYOR_PULL_REQUEST_NUMBER -eq 0 -and $env:APPVEYOR_BUILD_WORKER_IMAGE -ne "Visual Studio 2019") {Exit-AppveyorBuild}

install:
- cmd: >-
    git submodule update --init --recursive

build_script:
- cmd: >-
    .\tools\appveyor_ci.bat "%APPVEYOR_BUILD_WORKER_IMAGE%" %platform% %configuration% %toolchain% "%PYTHON%"
